<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Tutor</a>
      {{#if user}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      {{/if}}
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {{#if user}}
        {{#if user.isAdmin}}
        <!-- 管理員身份 -->
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a href="/admin" class="nav-link">使用者清單</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="btn btn-outline-success my-sm-0 my-2">Logout</a>
          </li>
        </ul>
        {{else if user.isTutor}}
        <!-- 老師身份 -->
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a href="/tutors/{{ user.id }}" class="nav-link">{{ user.name }}</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="btn btn-outline-success my-sm-0 my-2">Logout</a>
          </li>
        </ul>
        {{else}}
        <!-- 一般使用者身份 -->
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a href="/users/{{ user.id }}" class="nav-link">{{ user.name }}</a>
          </li>
          <li class="nav-item">
            <a href="/users/{{ user.id }}/apply" class="nav-link">成為老師</a>
          </li>
          <li class="nav-item">
            <a href="/logout" class="btn btn-outline-success my-sm-0 my-2">Logout</a>
          </li>
        </ul>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </nav>
</header>