<div class="row mb-5">
  {{!-- 左側老師資訊 --}}
  <div class="col-md-8">
    <div class="d-flex flex-direction-row">
      {{!-- 頭像 --}}
      <div class="user-avatar mb-5">
        {{#if tutor.User.avatar}}
        <img class="avatar" src="{{tutor.User.avatar}}" alt="avatar" title="avatar">
        {{else}}
        <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
        {{/if}}
      </div>

      <div class="user-info mb-5 mx-5">
        {{!-- 名字 --}}
        <h3>{{tutor.User.name}}</h3>
        {{!-- 國家 --}}
        <p>{{tutor.User.nation}}</p>
        {{!-- 評分 --}}
        <div>
          <i class="fa-solid fa-star" style="color: #e4b02b;"></i>
          {{#if avgRating}}
          <strong class="course-rating badge">{{avgRating}}</strong>
          {{else}}
          <strong class="course-rating badge">新老師</strong>
          {{/if}}
        </div>
      </div>
    </div>

    {{!-- 自我介紹 --}}
    <div class="mb-4">
      <h5>關於我</h5>
      <p class="mt-3" style="white-space: break-spaces;">{{tutor.tutorIntroduction}}</p>
    </div>
    <hr>
    {{!-- 教學風格 --}}
    <div class="mb-4">
      <h5>教學風格</h5>
      <p class="mt-3" style="white-space: break-spaces;">{{tutor.teachingStyle}}</p>
    </div>
    <hr>
    {{!-- 學生評語 --}}
    <div class="mb-4">
      <h5>學生評語</h5>
      {{#if ratedCourses}}
      <div class="mt-3">
        {{#each ratedCourses}}
        <div class="class-info m-2">
          <i class="fa-solid fa-star" style="color: #e4b02b;"></i>
          <strong class="course-rating badge" style="width: 30px">{{this.rating}}</strong>
          ：
          <span class="course-comment">{{#if this.comment}}{{this.comment}}{{else}}沒有留下評論{{/if}}</span>
        </div>
        {{/each}}
      </div>
      {{else}}
      <p>目前沒有評價</p>
      {{/if}}
    </div>
  </div>

  {{!-- 右側預約課程 --}}
  <div class="col-md-4">
    <form action="/tutors/{{tutor.id}}/booking" method="POST">
      <h4 class="mb-3">預約上課</h4>
      <select name="bookDate" id="bookDate" class="form-control mb-3" style="font-size: 15px; padding: 8px">
        <option value="">選擇時間</option>
        {{#each unbookedCourses}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      <!-- Button trigger modal -->
      <div class="d-flex justify-content-end">
        <button type="button" class="custom-solid-button" style="font-size: 15px; padding: 8px 12px"
          data-bs-toggle="modal" data-bs-target="#book-course-model">
          預約
        </button>
      </div>
      <div class="modal fade" id="book-course-model" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">預約成功</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p id="booked-date">上課時間：</p>
              <p>授課老師：{{tutor.User.name}}</p>
              <p>課程連結：<a href="{{tutor.teachingLink}}">{{tutor.teachingLink}}</a></p>
            </div>
            <div class="modal-footer">
              <button id="close-button" type="button" class="custom-solid-button" data-bs-dismiss="modal">確認</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/booking.js"></script>