<div class="row mb-5">
  {{!-- 左側 --}}
  <div class="col-md-8">
    <div class="d-flex flex-direction-row">
      <div class="user-avatar mb-5">
        {{#if tutor.User.avatar}}
        <img class="avatar" src="{{tutor.User.avatar}}" alt="avatar" title="avatar">
        {{else}}
        <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
        {{/if}}
      </div>

      <div class="user-info mb-5 mx-5">
        <h3>{{tutor.User.name}}</h3>
        <p>{{tutor.User.nation}}</p>
        <div>
          {{#if avgRating}}
          <strong class="class-rate badge">{{avgRating}}</strong>
          {{else}}
          <span>目前沒有評價</span>
          {{/if}}
        </div>
      </div>
    </div>

    <h5>關於我</h5>
    <p style="white-space: break-spaces;">{{tutor.tutorIntroduction}}</p>
    <hr>
    <h5>教學風格</h5>
    <p style="white-space: break-spaces;">{{tutor.teachingStyle}}</p>
    <hr>
    <h5>學生評語</h5>
    {{#if ratedCourses}}
    <div>
      {{#each ratedCourses}}
      <div class="class-info m-2">
        <strong class="class-rate badge">{{this.rating}}</strong>
        ：
        <span class="class-message">{{#if this.comment}}{{this.comment}}{{else}}沒有留下評論{{/if}}</span>
      </div>
      {{/each}}
    </div>
    {{else}}
    <p>目前沒有評價</p>
    {{/if}}
  </div>

  {{!-- 右側 --}}
  <div class="col-md-4">
    <form action="/tutors/{{tutor.id}}/booking" method="POST">
      <h4 class="mb-3">預約上課</h4>
      <select name="bookDate" id="bookDate" class="form-control mb-3" style="font-size: 15px; padding: 8px">
        <option value="">選擇時間</option>
        {{#each unbookedCourses}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
      </select>

      <!-- Button trigger modal -->
      <div class="d-flex justify-content-end">
        <button type="button" class="custom-solid-button" style="font-size: 15px; padding: 8px 12px"
          data-bs-toggle="modal" data-bs-target="#book-class-model">
          預約
        </button>
      </div>
      {{> booking-modal}}
    </form>
  </div>
</div>

<script src="/javascripts/booking.js"></script>