<div class="row mb-5">
  {{!-- 左側老師列表 --}}
  <div class="col-md-9">
    {{!-- 搜尋框 --}}
    <div class="row" id="search-bar">
      <form action="/tutors/search" method="GET">
        <div class="input-group mb-3">
          <input type="text" name="keyword" class="form-control" id="search-bar" placeholder="搜尋老師名字"
            aria-label="keyword" aria-describedby="search-button" value="{{keyword}}">
          <div class="input-group-append">
            <button class="custom-solid-button mx-2" type="submit" id="search-button">搜尋</button>
          </div>
        </div>
      </form>
    </div>

    {{!-- 老師列表 --}}
    <div class="row mt-3">
      {{#each tutors}}
      <div class="col-md-4 col-12 d-flex flex-column">
        <div class="card mb-4 shadow-sm h-100 tutor-list">
          <a href="/tutors/{{this.id}}">
            <div class="card-top d-flex flex-direction-row">
              {{!-- 頭像 --}}
              <div class="tutor-list-avatar m-3">
                {{#if this.User.avatar}}
                <img class="avatar" src="{{this.User.avatar}}" alt="avatar" title="avatar">
                {{else}}
                <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
                {{/if}}
              </div>
              <div class="tutor-list-info m-3">
                {{!-- 名字 --}}
                <h5>{{this.User.name}}</h5>
                {{!-- 國籍 --}}
                <p>{{this.User.nation}}</p>
              </div>
            </div>
            {{!-- 自我介紹 --}}
            <div class="card-body">
              <p class="card-text text-truncate">{{this.tutorIntroduction}}</p>
            </div>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
    {{!-- 分頁 --}}
    {{> pagination}}
  </div>

  {{!-- 右側學習時數排行 --}}
  <div class="col-md-3">
    <h5 class="topLeaners-list-title text-center">學習時數總排行</h5>
    <ul class="list-group">
      {{#each topLearners}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <div class="topLearners-list-avatar">
          {{#if this.User.avatar}}
          <img class="avatar" src="{{this.User.avatar}}" alt="avatar" title="avatar">
          {{else}}
          <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
          {{/if}}
        </div>
        <span>{{this.User.name}}</span>
        <span class="badge rounded-pill">{{this.totalDuration}} 分鐘</span>
      </li>
      {{/each}}
    </ul>
  </div>

</div>