<div class="row mb-5">
  {{!-- 左側 --}}
  <div class="col-md-4">
    <div class="user-avatar mb-5">
      {{#if user.avatar}}
      <img class="avatar" src="{{user.avatar}}" alt="avatar" title="avatar">
      {{else}}
      <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
      {{/if}}
    </div>

    <div class="user-info mb-5">
      <h3>{{user.name}}</h3>
      <p>{{user.nation}}</p>
      <strong>關於我</strong>
      <p style="white-space: break-spaces;">{{user.introduction}}</p>
    </div>

    <a class="custom-solid-button" href="/users/{{user.id}}/edit" style="text-decoration: none;">編輯個人資料</a>
    <a class="custom-button mx-2" href="/" style="text-decoration: none;">返回</a>
  </div>

  {{!-- 右側 --}}
  <div class="col-md-8">

    <h4>即將到來</h4>
    <div class="row mb-5">
      {{#each futureCourses}}
      <div class="col-md-6 col-12" style="height: 100px; margin: 10px 0px">
        <div class="card mb-4 shadow-sm h-100" id="course-card">

          <div class="d-flex align-items-center m-2">
            <a href="/tutors/{{this.Tutor.id}}">
              <div class="tutor-avatar mb-2">
                {{#if this.Tutor.User.avatar}}
                <img class="avatar" src="{{this.Tutor.User.avatar}}" alt="avatar" title="avatar">
                {{else}}
                <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
                {{/if}}
              </div>
            </a>
          </div>

          <div class="course-info m-2">
            <a href="/tutors/{{this.Tutor.id}}">
              <span class="tutor-name">
                {{this.Tutor.User.name}}
              </span>
            </a>
            <span>{{this.time}}</span>
          </div>

          <div class="d-flex align-items-center mx-3">
            <a class="custom-solid-button " style="font-size: 15px; padding: 6px; color: white"
              href="{{this.Tutor.teachingLink}}">進入教室</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <h4>歷史課程</h4>
    <div class="row">
      {{#each pastCourses}}
      <div class="col-md-6 col-12" style="height: 100px; margin: 10px 0px">
        <div class="card mb-4 shadow-sm h-100" id="course-card">

          <div class="d-flex align-items-center m-2">
            <a href="/tutors/{{this.Tutor.id}}">
              <div class="tutor-avatar mb-2">
                {{#if this.Tutor.User.avatar}}
                <img class="avatar" src="{{this.Tutor.User.avatar}}" alt="avatar" title="avatar">
                {{else}}
                <img class="default-avatar" src="/stylesheets/icons/default-avatar.svg" alt="avatar" title="avatar">
                {{/if}}
              </div>
            </a>
          </div>

          <div class="course-info m-2">
            <a href="/tutors/{{this.Tutor.id}}">
              <span class="tutor-name">
                {{this.Tutor.User.name}}
              </span>
            </a>
            <span>{{this.time}}</span>
          </div>

          <div class="course-rating d-flex align-items-center mx-3">
            {{#if this.rating}}
            <strong class="tutor-rating badge" style="font-size: 15px;">
              {{this.rating}}</strong>
            {{else}}

            <!-- Button trigger modal -->
            <button type="button" class="custom-solid-button" style="font-size: 15px; padding: 6px"
              data-bs-toggle="modal" data-bs-target="#ratting-course-{{this.id}}">
              尚未評價
            </button>
            {{> rating-modal}}
            {{/if}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>