<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.avatar}}"
      style="width: 250px; margin-bottom: 25px; transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    <br>
    <h2>{{user.name}}</h2>
    <div>
      <h5>關於我</h5>
      <p>{{user.introduction}}{{user.nation}}</p>
    </div>
  </div>

  <div class="col-md-8">
    <div class="well">
      <div id="new-schedule">
        <h5>最新課程</h5>
        <div class="row">
          {{#each futureCourses}}
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <p class="card-title">課程時間：{{this.time}}</p>
                <p class="card-text">學生名字：{{this.User.name}}</p>
                <a href="#" class="card-link">視訊連結</a>
              </div>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="mt-2" id="teaching-style">
        <h5>教學風格</h5>
        <p>{{user.Tutor.teachingStyle}}</p>
      </div>
      <div class="mt-2" id="recent-reviewed">
        <h5>最新評論</h5>
        <ul class="list-group">
          {{#each ratedCourses}}
          <li class="list-group-item"><strong class="badge bg-primary rounded-pill">{{this.rating}}</strong>
            {{#if this.comment}}{{this.comment}}{{else}}沒有留下評論{{/if}}</li>
          {{/each}}
        </ul>
      </div>

      <div style="margin-top: 5rem; float: right;">
        <p><a class="btn btn-outline-secondary" href="/tutor/{{user.id}}/edit">編輯課程資訊與時間</a></p>
      </div>
    </div>
  </div>
</div>